/* also struggling to get this blur function to work; don't know why. according to google it should work.  */
body{
	font-family: 'Press Start 2P', cursive;
	font-weight: 400i;
    text-align: center;
    -webkit-filter: blur(100%);  Safari 6.0 - 9.0 
	filter: blur(10000%);
	width: 100%;
	background-image:url("images/raceway.jpg");
	no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	 -o-background-size: cover;
	background-size: cover;
	color: white;
}
/* I don't think the media query actually works. not sure why */
@media (min-width: 600px){
	background-image: url("images/racetrack-vertical.jpg");
.headline{
	display: flex
	margin: 0 auto;
	font-family: 'Press Start 2P', cursive;
	align-content: center;
	font-size: 48px;
	padding-top:3em, 0, 5em, 0;
}
.headline2{
	display: flex
	margin: 0 auto;
	font-family: 'Press Start 2P', cursive;
	align-content: center;
	font-size: 24px;
	padding-top:60px;
}
.racetrack-background{
	font-family: 'Press Start 2P', cursive;
	font-weight: 400i;
	text-align: center;
	position: absolute;
	padding:4em, 0, 0, 1em;
	height: 95%;
	width: 95%;
}
.clicktoplay{
	/* background-color: green; */
	position: absolute;
    top: 400px;
    left: 48%;
    text-decoration: none;
    width: 200px;
    height: 200px;;
	border-radius: 3px;
}
.stripe{
	width: 100%; 
	height: 2rem;
	background-color:darkgreen;
	position: absolute;
	top: 0;
}
 /* blocks 1 and 2 are actually the racecars. originally they were blocks.  */
.block2{ 
	background-image: url("images/blue-racecar.png");
	position: absolute;
	top: 400px;
	left : 50px;
	right: 50px;
	margin: 5px;
	width: 200px;
	height: 100px; 
	no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.block1{
	background-image: url("images/red-racecar.png");
	position: absolute;
	top: 200px;
	left: 50px;
	right : 50px;
	margin: 5px;
	width: 200px;
	height: 150px;
	no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
